{% extends "base.html" %}

{% block content %}

    <div class="p-6">
        <h1>Página de Bilhete 🎟️</h1>

        <div x-data="{ open: false }">

            <!-- BOTÃO -->
            <button
                @click="open = true"
                hx-get="{% url 'informacao' %}"
                hx-target="#modal-content"
                hx-swap="innerHTML"
            >
                Abrir Modal
            </button>

            <div
                x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-40"
                @click.self="open = false">
                <!-- MODAL -->
                <div class="bg-white p-6 rounded shadow-lg" style="height: 900px; width: 1100px;">
                    <!-- AQUI O HTMX INJETA O TEMPLATE -->
                    <div id="modal-content">
                        <!-- conteúdo carregado dinamicamente -->
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}